:root{
    --animation-duration: 5s;
}


@font-face {
    font-family: 'pokefont';
    src: url('fonts/pokemon_fire_red.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('fonts/pokemon_fire_red.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

#container{
    border: 3px solid black;
    border-radius: 3px;
    width: 234px;
}

.container{
    width: 100%;
    text-align:center;
}